{% extends "dreamrise/base.html" %}

{% block main %}
    <br/>

    <h1 class="text-center">Change your password</h1>
    <div class="container" style="margin-left: 110px;">
        <form class="form-horizontal" method="POST" action="{% url 'change_password' %}">
            <div class="col-sm-offset-3">
                {{ form.non_field_errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" style="text-align:left" class="col-sm-2 col-sm-offset-3 control-label">Old Password</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}">
                    <!-- Display errors of age field -->
                    {{ form.password.errors }}
                </div><!-- col-sm-3 control-label -->
            </div><!-- form-group -->
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}" style="text-align:left" class="col-sm-2 col-sm-offset-3 control-label">New Password</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}">
                    <!-- Display errors of age field -->
                    {{ form.password1.errors }}
                </div><!-- col-sm-3 control-label -->
            </div><!-- form-group -->
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}" style="text-align:left" class="col-sm-2 col-sm-offset-3 control-label">Confirm New Password</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}">
                    <!-- Display errors of age field -->
                    {{ form.password2.errors }}
                </div><!-- col-sm-3 control-label -->
            </div><!-- form-group -->
{#            <table>#}
{#                {{ form }}#}
{#            </table>#}
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-5">
                    <input type="submit" class="btn btn-primary" value="Confirm">
                </div>
            </div>
            {% csrf_token %}
{#            <input type="submit"/>#}
        </form>
    </div>

{% endblock %}